

.about {
    padding: 20rem 2rem;
    max-width: 1280px;
    margin: 0 auto 10rem auto;
    
    &__ampersand {
        color: $purple;
        opacity: .25;
    }
    
    
    &__beauty{
        color: $black-100;
        font-weight: 700;
    }
    
    &__usability {
        color: $black-100;
        font-weight: 200;
    }
    
    &__wrap {
        margin-top: 8rem;
    }
    
    &__list {
        display: flex;
        justify-content: space-around;
        padding: 1.5rem 0;
        background-color: $purple;
    }
    
    &__item {
        
    }
    
    &__link {
        display: inline-block;
        position: relative;
        font-family: 'Montserrat', sans-serif;
        color: #fff;
        font-size: 1.953em;
        font-weight: 200;
        text-transform: uppercase;
        
        &::after {
            position: absolute;
            content: "";
            left: 50%;
            right: 50%;
            bottom: 0;
            height: 1px;
            background-color: currentColor;
            transition: all 350ms ease-out;
            
        }
        
        &:hover::after {
            left: 0;
            right: 0;
        }
    }
    
    &__link--current {
        color: $aqua;
        
        &::after {
            position: absolute;
            content: "";
            left: 0;
            right: 0;
            bottom: 0;
            height: 1px;
            background-color: currentColor;
            transition: all 350ms ease-out;
        }
    }
    
    
    
    &__sect-wrap {
        padding: 2rem;
        border: 1px solid $purple;
    }
    
    &__sect {
        display: none;
    }
    
    &__sect--visible {
       display: block; 
    }
    
    &__sect-about {
        
    }
    
    
    
    
    &__progress {
        position: relative;
        display: inline-block;
        padding: 0;
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }

    &__progress > li {
        font-family: Lato;
        color: #93A2AC;
        font-weight: 100;
        display: inline-block;
        position: relative;
        text-align: center;
        margin: 2em;
    }

    &__progress > li:before {
        font-size: 1.25em;
        color: $purple;
        font-weight: 400;
        position: absolute;
        content: attr(data-name);
        width: 100%;
        bottom: -3rem;
    }

    /*
    &__progress > li:after {
        position: absolute;
        content: attr(data-percent);
        width: 100%;
        top: 3.7rem;
        left: 0;
        font-size: 2rem;
        text-align: center;
    }
    */

    [class*=percent] {
        font-size: 1.25em;
        color: $purple;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__progress svg {
        width: 10rem;
        height: 10rem;
    }

    &__progress svg:nth-child(2) {
        position: absolute;
        left: 0;
        top: 0;
        transform: rotate(-90deg);
    }

    &__progress svg:nth-child(2) path {
        fill: none;
        stroke-width: 25;
        stroke-dasharray: 629;
        stroke: rgba(255,255,255,.9);
        animation: load 2000ms linear;
    }

     
  
    
}


@keyframes load { 

    0% {
        stroke-dashoffset: 0;
    }
}













