

.about {
    padding: 20rem 0 26rem 0;
    
    &__grid-cell_wrap {
        max-width: 1280px;
        margin: 0 auto 10rem auto;
        padding: 0 2rem;
    }
    
    &__ampersand {
        color: $purple;
        opacity: .25;
    }
    
    &__beauty{
        color: $black-100;
        font-weight: 700;
    }
    
    &__usability {
        color: $black-100;
        font-weight: 200;
        
        /**** adjust this so it is closer to the 'SKILLS' line..this uses the same animation as the into sect ***/
        margin-top: -.8em;
        margin-left: -1em;
    }
    
    /* full width */
    &__bleed {
        background-image: url(../img/about-bleed.jpg);
        background-repeat: no-repeat; 
        min-height: 390px;
    }
    
    &__wrap {
        max-width: 1280px;
        margin: -5.8rem auto 0 auto;
    }
    
    &__list {
        display: flex;
        justify-content: space-between;
        padding: 0;
        
    }
    
    &__item {
        background-color: $purple;
        transition: all 300ms ease-out;
        
        &:hover, &:focus {
            background-color: $aqua;
        }
        
    }
    
    &__link {
        padding: 1.5rem 2rem;
        display: block;
        position: relative;
        font-family: 'Montserrat', sans-serif;
        color: #fff;
        font-size: 1.953em;
        font-weight: 200;
        text-transform: uppercase;
        
        &::before {
            position: absolute;
            content: "";
            left: 50%;
            right: 50%;
            top: -4px;
            height: 4px;
            background-color: $purple;
            transition: all 350ms ease-out;
        }
        
        &:active {
           color: #000; 
        }
        
        /*&:hover::after {
            left: 0;
            right: 0;
        }*/
    }
    
    &__link--current {
        color: #000;
        background-color: #fff;
        
        &::before {
            left: 0;
            right: 0;
        }
    }
    
    
    
    &__sect-wrap {
        padding: 2rem 0;
    }
    
    &__sect {
        //display: none;
        height: 0;
        overflow: hidden;
        //padding: 0;
        transition: all 450ms ease-out;
    }
    
    &__sect--visible {
       //display: block; 
        height: auto;
        /* padding is cutting off the content */
        //padding: 4rem 0;
    }
    
    &__sect-about {
        
    }
    

    &__progress {
        position: relative;
        display: inline-block;
        padding: 0;
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }

    &__progress > li {
        font-family: Lato;
        color: #93A2AC;
        font-weight: 100;
        display: inline-block;
        position: relative;
        text-align: center;
        margin: 2em;
    }

    &__progress > li:before {
        font-size: 1.25em;
        color: $purple;
        font-weight: 400;
        position: absolute;
        content: attr(data-name);
        width: 100%;
        bottom: -3rem;
    }

    /*
    &__progress > li:after {
        position: absolute;
        content: attr(data-percent);
        width: 100%;
        top: 3.7rem;
        left: 0;
        font-size: 2rem;
        text-align: center;
    }
    */

    [class*=percent] {
        font-size: 1.25em;
        color: $purple;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__progress svg {
        width: 10rem;
        height: 10rem;
    }

    &__progress svg:nth-child(2) {
        position: absolute;
        left: 0;
        top: 0;
        transform: rotate(-90deg);
    }

    &__progress svg:nth-child(2) path {
        fill: none;
        stroke-width: 25;
        stroke-dasharray: 629;
        stroke: rgba(255,255,255,.9);
        
        /* added a delay to wait for the sect height transition, which is 450ms..so not sure why 1000ms is working but this might need to be adjusted */
        animation: load 2000ms 1000ms linear;
    }

}


@keyframes load { 

    0% {
        stroke-dashoffset: 0;
    }
}













