
.intro {
    padding: 25rem 2rem 25rem 2rem;
    background-color: $purple;
    transform: skewY(-15deg);
    
    /* having animation issues when putting this on intro__grid */
    overflow: hidden;
    
    & > * {
        transform: skewY(15deg);
    }
    
    &__grid {
        display: grid;
        grid-template-columns: .7fr 1fr;
        grid-column-gap: 2em;
        max-width: 1280px;
        margin: 0 auto;
        
    }
    
    &__grid-cell--one {
        
    }
    
    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    &__grid-cell--two {
        margin-left: 10em;
    }
    
    &__grid-cell_wrap {
        position: relative;
        padding-bottom: 4rem;
    }
    
    &__ampersand {
        font-family: 'Parisienne', cursive;
        font-size: 20em;
        line-height: .7;
        opacity: .4;
    }
    
    &__beauty {
        margin-top: 0;
        color: #fff;
        font-weight: 200;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        
        /* disabled as am using a fromTo */
        //left: 0%;
        //transform: translateY(-50%);
        
    }
    
    &__usability {
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        position: absolute;
        
        /* disabled as am using a fromTo */
        //bottom: 14%;
        //left: 18%;
    }
    
    &__summary {
        line-height: 2;
        font-size: 1.375em;
        margin: 3em 0;
        font-weight: 300;
        color: $gray-400;
        width: 80%;
    }
    
    
    &__icons-wrap {
        
    }
    
    &__sect {
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-gap: 1.5em 2em;
        align-items: center;
    }
    
    &__sect:not(:last-of-type) {
        margin-bottom: 1.25em;
    }
    
    &__circle {
        width: 5em;
        height: 5em;
        background-color: #000;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    &__svg {
        width: 3em;
        height: 3em;
    }
    
    &__svg--one {
        fill: $aqua;
    }
    
    &__svg--two {
        fill: $green;
    }
    
    &__svg--three {
        width: 2.5em;
        height: 2.5em;
        fill: $pink;
    }
    
    &__heading {
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
    }
    
    
    
    
    
    
    
}

