
.nav {
    padding: 1rem 2rem;
    box-shadow: 1px 1px 3px 0 rgba($purple,0.5),
                -1px 0 3px 0 rgba($purple,0.5);
    background-color: rgba(255,255,255,.85);
    
    transform-origin: top center;
    transition: transform 900ms ease-out;
    transform: perspective(525px) rotateX(0deg);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 500;
    
    &.is--scrolling {
        transform: perspective(525px) rotateX(-140deg);
    }
    
    
    &__list {
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__item {
        
    }
    
    &__item-logo {
        
    }
    
    &__logo {
        width: 50px;
        height: auto;
        display: block;
    }
    
    &__link {
        text-transform: uppercase;
        position: relative;
        padding-bottom: .25em;
        transition: all 300ms ease-out;
        
        &:hover {
            color: $purple;
        }
        
        /** focus is conflicing with .is--active class */
        /*&:focus {
            color: $aqua;
        }*/

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            right: 50%;
            height: 2px;
            background-color: $purple;
            transition: all 350ms ease-out;
        }
        
        &:hover::after {
            left: 0;
            right: 0;
        }
        
    }

    
}

.is--active {
    &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 2px;
            background-color: $purple;
            transition: all 350ms ease-out;
        }
}