

.projects {
    
    background-color: $gray-bg;
    margin: -20rem auto 0 auto;
    padding: 50rem 2rem;
    
    
    &__wrap {
        max-width: 1280px;
        
    }
    
    &__heading {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        
        color: $black-100;
        text-transform: uppercase;
        padding: 1rem 4rem 2rem 0;;
        background-image: url(../img/brush.png);
        background-repeat: no-repeat;
        background-position: right bottom;
        margin-right: 4rem;
    }
    
    &__heading-one {
        display: block;
        font-weight: 200;
        position: relative;
    }
    
    &__heading-two {
        display: block;
        font-weight: 700;
        position: relative;
    }
    
    
    
    &__grid {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        margin-top: 10rem;
    }
    
    &__grid-cell--one {
        padding: 2rem;
    }
    
    
    
    &__cell-heading {
        transition: opacity 0.35s, transform 0.35s;
        margin-bottom: 1.25em;
        opacity: 0;
        text-transform: uppercase;
        
        transform: translate3d(-40%, 0, 0);
        transition-delay: 300ms;
    }
    
    &__built {
        transition: opacity 0.35s, transform 0.35s;
        margin-bottom: 1em;
        opacity: 0;
        font-size: 1.25em;
        
        transform: translate3d(0, -40%, 0);
        transition-delay: 0s;    
    }
    
    &__list {
        transition: opacity 0.35s, transform 0.35s;
        margin: 0 0 5px;
        opacity: 0;
        
        transform: translate3d(0, -40%, 0);
        transition-delay: 0s; 
    }
    
    &__item {
        transition: opacity 0.35s, transform 0.35s;
        margin: 0 0 5px;
        opacity: 0;
        
        transform: translate3d(0, -40%, 0);
        transition-delay: 0s; 
    }
    
    &__grid-cell--two {
        position: relative;
        border-radius: .75rem;
        box-shadow: 5px 5px 18px 3px rgba(0,0,0,.6);
        overflow: hidden; 
        
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -110%;
            width: 100%;
            height: 100%;
            background-color: $black-100;
            z-index: 50; // even tho the pseudo element is stacked  on top, this is needed to stop flicker when the img becomes opaque during the animation
        }
        
        &:hover .projects__image--one {
            opacity: .3;
            transform: scale(1.15);
        }
        
        &:hover .projects__cell-heading {
            opacity: 1;
            transform: translate3d(0, 0, 0);
            transition-delay: 400ms;   
        }
        
        &:hover .projects__built {
            opacity: 0.9;
            transform: translate3d(0, 0, 0);
            transition-delay: 600ms;   
        }
        
        &:hover .projects__list {
            opacity: 0.9;
            transform: translate3d(0, 0, 0);
            transition-delay: 600ms;   
        }
        
        &:hover .projects__item:first-of-type {
            opacity: 0.9;
            transform: translate3d(0, 0, 0);
            transition-delay: 900ms;   
        }
        
        &:hover .projects__item:nth-of-type(2) {
            opacity: 0.9;
            transform: translate3d(0, 0, 0);
            transition-delay: 1100ms;   
        }
        
        &:hover .projects__item:last-of-type {
            opacity: 0.9;
            transform: translate3d(0, 0, 0);
            transition-delay: 1400ms;   
        }
        
        &:hover .projects__caption::before {
            background: transparent;
            right: 30px;
            transition-delay: 0s;
            opacity: 1;   
        }

    }
    
    &__caption {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 30px 3em;
        width: 100%;
        height: 100%;
        color: #fff;
        
        display: flex;
        align-items: center;
        justify-content: center;
        
        &::before {
            content: '';
            transition: all 0.5s;
            position: absolute;
            top: 30px;
            right: 100%;
            bottom: 30px;
            left: 30px;
            border-right: 4px solid rgba(255, 255, 255, 0.8);
            background-color: rgba(255, 255, 255, 0.5);
            transition-delay: 600ms;
            opacity: 0;
        }
        
    }
    
    &__link {
        display: block;
        /*position: relative;
        z-index: 19500;*/
    }
    
    &__image--one {
        width: 100%;
        height: auto;
        display: block;
        transition: all 0.5s ease-out;
    }
    
    

    
    
}


